<form class="" [formGroup]="newsForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" formControlName="title" placeholder="Title" maxlength="60" required>
  </div>
  <div class="form-group">
    <label for="link">URL Source</label>
    <input type="url" class="form-control" id="link" formControlName="link" placeholder="URL Source" maxlength="1000" required>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" formControlName="description" rows="2" placeholder="Description" maxlength="300" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary mb-3 float-right ml-2" [disabled]="newsForm.invalid">{{id ? 'Save' : 'Create'}}</button>
  <p *ngIf="id" class="btn btn-primary mb-3 float-right reset-btn" (click)="reset()">Reset</p>
</form>
