<nav class="navbar navbar-expand-md navbar-dark static-top bg-dark">
  <div class="container-fluid centered">
    <a class="navbar-brand" routerLink="/" (click)="isNavbarCollapsed = true">
      <img src="/assets/logo.png" width="30" height="30" alt="Stock News">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isNavbarCollapsed = !isNavbarCollapsed"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/create" routerLinkActive="active" (click)="isNavbarCollapsed = true">Add News</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active" (click)="isNavbarCollapsed = true">Sign In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="centered">
  <router-outlet></router-outlet>
</div>
