<nav class="navbar navbar-expand-md navbar-dark static-top bg-dark">
  <div class="container-fluid centered">
    <a class="navbar-brand" routerLink="/" (click)="isNavbarCollapsed = true">
      <img src="/assets/logo.png" width="30" height="30" alt="Stock News">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/create" routerLinkActive="active" (click)="isNavbarCollapsed = true">Add News</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" [ngSwitch]="authService.loggedIn()">
        <li class="nav-item" *ngSwitchCase="true">
          <a class="nav-link pointer" (click)="authService.logout()">Sign Out</a>
        </li>
        <li class="nav-item" *ngSwitchCase="false">
          <div ngbDropdown autoClose="outside" class="d-inline-block">
            <a class="nav-link pointer" (click)="authTooltip = 1" ngbDropdownToggle>Sign In</a>
            <div ngbDropdownMenu>
              <div [ngBusy]="busy"></div>
              <div [hidden]="authTooltip !== 1">
                <form class="px-4 py-6" [formGroup]="userForm" (ngSubmit)="onSubmitLogin()">
                  <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" id="login" formControlName="login" placeholder="Login" maxlength="30" required>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password" maxlength="255" required>
                  </div>
                  <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Sign in</button>
                </form>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem (click)="authTooltip = 2; reset()">New around here? Sign up</button>
              </div>
              <div [hidden]="authTooltip !== 2">
                <form class="px-4 py-6" [formGroup]="registerForm" (ngSubmit)="onSubmitRegistration()">
                  <div class="form-group">
                    <label for="registration_login">Login</label>
                    <input type="text" class="form-control" id="registration_login" formControlName="login" placeholder="Login" maxlength="30" required>
                  </div>
                  <div class="form-group">
                    <label for="registration_email">Email</label>
                    <input type="email" class="form-control" id="registration_email" formControlName="email" placeholder="Email" maxlength="60" autocomplete="off" required>
                  </div>
                  <div class="form-group">
                    <label for="registration_password">Password</label>
                    <input type="password" class="form-control" id="registration_password" formControlName="password" placeholder="Password" maxlength="255" autocomplete="off" required>
                  </div>
                  <div class="form-group">
                    <label for="registration_confirm">Confirm Password</label>
                    <input type="password" class="form-control" id="registration_confirm" formControlName="confirmPassword" placeholder="Confirm Password" maxlength="255" required>
                  </div>
                  <div class="form-group">
                    <label for="registration_name">Name</label>
                    <input type="text" class="form-control" id="registration_name" formControlName="name" placeholder="Name" maxlength="120">
                  </div>
                  <ngx-recaptcha2 class="captcha" [siteKey]="siteKey" formControlName="captchaResponse"></ngx-recaptcha2>
                  <button type="submit" class="btn btn-primary mt-2" [disabled]="registerForm.invalid">Sign up</button>
                </form>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem (click)="authTooltip = 1">Already have an account? Sign in</button>
                <button ngbDropdownItem (click)="authTooltip = 3">Resend activation link</button>
              </div>
              <div [hidden]="authTooltip !== 3">
                <form class="px-4 py-6" [formGroup]="resendForm" (ngSubmit)="onSubmitResend()">
                  <div class="form-group">
                    <label for="resend_email">Email</label>
                    <input type="email" class="form-control" id="resend_email" formControlName="email" placeholder="Email" maxlength="60" required>
                  </div>
                  <button type="submit" class="btn btn-primary" [disabled]="resendForm.invalid">Resend</button>
                </form>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem (click)="authTooltip = 1; reset()">Already have an account? Sign in</button>
                <button ngbDropdownItem (click)="authTooltip = 2">New around here? Sign up</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="centered">
  <router-outlet></router-outlet>
</div>
