<div class="login-container">
    <div>
<!--        <form (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()" #userForm="ngForm">-->
<!--        <input type="text" id="login" required [(ngModel)]="user.login" name="login" placeholder="UserLogin" #nickname="ngModel">-->
<!--        <input type="password" id="password" required [(ngModel)]="user.password" name="password" placeholder="Password" #password="ngModel">-->
        <button class="btn btn-default" type="submit">Login</button>
        <a routerLink="/register"><button class="btn btn-default">Register</button></a>
<!--        </form>-->
    </div>
<!--    <div *ngIf="this.authService.loggedIn()">-->
<!--        <button *ngIf="restartVisible" class="btn btn-default" (click)="reload()">Restart</button>-->
<!--        <button class="btn btn-default" (click)="logout()">Logout</button>-->
<!--    </div>-->
</div>
